<form-error [messages]="errorMessages"></form-error>
<form #frm="ngForm" [formGroup]="formGroup" (ngSubmit)="onSave()">
  <customer-basic-info [formControlName]="FIELD_BASIC_INFO"></customer-basic-info>
  <address-info-control></address-info-control>
  <div class="card flex justify-content-end flex-wrap mt-4">
    <p-button type="button" styleClass="p-button-sm p-button-outlined p-button-secondary" icon="pi pi-times"
      label="Cancel" class="" (click)="onClose()"></p-button>
    <p-button label="Save" icon="pi pi-check" styleClass="p-button-sm" class="ml-3"
      [disabled]="!formGroup.valid || isReadOnly()" (click)="onSave()"></p-button>
  </div>

</form>