<div fxLayout="column" fxFill>
  <div fxLayout="row" style="margin-bottom: 0;">
    <h1 fxFlex mat-dialog-title>{{title}}</h1>
    <button mat-icon-button class="close-button" [mat-dialog-close]="false" >
      <mat-icon >close</mat-icon>
    </button>
  </div>
  <div fxFlex>
    <div fxLayout="row">
      <mat-icon color="primary" class="icon-display">live_help</mat-icon>
      <p>{{msgText}}</p>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button (click)="onOK()" style="margin-right: 0;">{{okLabel}}</button>
    <button cdkFocusInitial [mat-dialog-close]="false" (click)="onCancel()">{{cancelLabel}}</button>
  </div>
</div>