<div fxLayout="column" fxFill>
  <div fxLayout="row" style="margin-bottom: 1em;">
    <h1 fxFlex mat-dialog-title>{{title}}</h1>
    <button class="close-button" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
  </div>
  <div fxFlex>
    <div fxLayout="row">
      <i class="icon-display pi {{icon}}"></i>
      <p [innerHtml]="msgText"></p>
    </div>
  </div>
  <div align="center">
    <button cdkFocusInitial *ngIf="yesLabel != ''" (click)="onYes()" style="margin-right: 1em;">{{yesLabel}}</button>
    <button *ngIf="noLabel != ''" (click)="onNo()" style="margin-right: 1em;">{{noLabel}}</button>
    <button *ngIf="cancelLabel != ''"   (click)="onCancel()">{{cancelLabel}}</button>
  </div>
</div>