<p-toast></p-toast>
<p-table #dataTable [value]="dataSource.items()"
    selectionMode="multiple" [(selection)]="selection" [metaKeySelection]=true
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,30,50,100]"
    [globalFilterFields]="displayedColumns" (onFilter)="onDataTableFilter()" [paginator]="true" [rows]="10"
    [totalRecords]="dataSource.allData.length" [loading]="dataSource.loading">

    <ng-template pTemplate="caption">
        <div class="table-header">
            <span>
                <button pButton label="Add" class="p-button-outlined" icon="pi pi-plus" (click)="onAdd()"></button>
                <button pButton label="Edit" style="margin-left: 0.25rem;" class="p-button-outlined" icon="pi pi-file-o" (click)="onEdit()"
                    [disabled]="selection.length != 1"></button>
                <button pButton label="View" style="margin-left: 0.25rem;" class="p-button-outlined" icon="pi pi-file-o" (click)="onView()"
                [disabled]="selection.length != 1"></button>
                <button pButton label="Delete" style="margin-left: 0.25rem;" class="p-button-outlined" icon="pi pi-times" (click)="onDelete()"
                    [disabled]="selection.length==0"></button>
                <button pButton label="Refresh" style="margin-left: 2rem;" class="p-button-outlined" icon="pi pi-refresh" (click)="dataSource.refresh()"
                    ></button>
                <button pButton label="Clear" style="margin-left: 0.25rem;" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clearFilters()" [disabled]="!clearFilterEnabled"></button>
            </span>

            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText [(ngModel)]="globalFilter" type="text" (input)="appliyGlobalFilter($event)"
                    placeholder="Search keyword" />
            </span>

        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <!--
            <th style="width: 1rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            -->
            <th pSortableColumn="firstName">
                <div class="p-d-flex p-jc-between p-ai-center">
                    First Name
                    <p-sortIcon field="customer.firstName"></p-sortIcon>
                    <p-columnFilter type="text" field="customer.firstName" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Last Name
                    <p-columnFilter type="text" field="customer.lastName" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Email
                    <p-columnFilter type="text" field="customer.email" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Address
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Area
                    <p-columnFilter type="text" field="address.area" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    City
                    <p-columnFilter type="text" field="address.city" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Zip Code
                    <p-columnFilter type="text" field="address.zipCode" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Contact Info
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr [pSelectableRow]="item" [pSelectableRowIndex]="rowIndex" (dblclick)="onView(item)">
      <!--      <td>
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            -->
            <td>{{item.customer.firstName}}</td>
            <td>{{item.customer.lastName}}</td>
            <td>{{item.customer.email}}</td>
            <td>{{item.address?.street}} {{item.address?.houseNo}}</td>
            <td>{{item.address?.area}}</td>
            <td>{{item.address?.city}}</td>
            <td>{{item.address?.zipCode}}</td>
            <td>{{item.customer?.mobile}} {{item.customer?.phone}}</td>
        </tr>
    </ng-template>
</p-table>

