.full-width-table {
  width: 100%;
}
.mat-column-select {
  overflow: initial;
}
.highlight{
  background: #b3d7f0; /* green */
}
::ng-deep .p-datatable-header {
  padding-bottom: 0.25rem !important;
}
.address-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

.default-address {
  font-weight: 600;
  vertical-align: middle;
  background-color: yellow;
}
.card {
  padding: 0.5rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 0.5rem;
 // margin-right: 0.5rem;
}